* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mainColor: #00cccc;
  --bg-color: #fff;
}
/* headroom */
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
/* font import */
@font-face {
  src: url(../fonts/FiraSans-Black.ttf);
  font-family: fir-font;
}
@font-face {
  font-family: main-font;
  src: url(../fonts/PatrickHand-Regular.ttf);
}
@font-face {
  font-family: head-font;
  src: url(../fonts/angled-angled-italic-400.ttf);
}
/* side bar */
.side-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.side-bar.hidden {
  display: none;
}
.side-bar .side-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  position: relative;
  margin-bottom: 20px;
}
.side-bar .side-box.active {
  background-color: var(--mainColor);
}

.side-bar .side-box span {
  background-color: var(--mainColor);
  position: absolute;
  color: #fff;
  right: 40px;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  top: -50%;
  text-transform: capitalize;

  letter-spacing: 1px;
  display: none;
}
.side-bar .side-box:hover span {
  display: block;
}
.side-bar .side-box span::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent transparent var(--mainColor);
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}
/* side bar */
/* tool bar */
.tool-bar {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  font-family: fir-font;
  letter-spacing: 1px;
  transition: 0.5s;
  border: 3px solid #ddd;
}
.tool-bar.open {
  left: 0;
}
.toggle-settings {
  font-family: fir-font;
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.toggle-settings i {
  width: 30px;
  padding: 8px 0;
  color: #000000;
}
.tool-bar .settings-container {
  padding: 20px;
}
.settings-container .option-box {
  text-align: center;
  background-color: #ebeceb;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
.settings-container .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-container .option-box .colors-list {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
}
.settings-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  background-color: #000000;
}
.option-box .colors-list li.active {
  opacity: 1;
}
.option-box .colors-list li:first-child {
  background-color: #00cccc;
}
.option-box .colors-list li:nth-child(2) {
  background-color: #ff512f;
}
.option-box .colors-list li:nth-child(3) {
  background-color: #2e3192;
}
.option-box .colors-list li:nth-child(4) {
  background-color: #92effd;
}
.option-box .colors-list li:nth-child(5) {
  background-color: #537895;
}
/* Reandom Background */
.option-box span {
  background-color: #b0b0b0;
  padding: 5px;
  display: inline-block;
  margin: 5px 2px;
  border-radius: 4px;
  width: 50px;
  cursor: pointer;
}
.option-box span.active {
  background-color: var(--mainColor);
  color: #fff;
}
.option-box i.mode {
  color: var(--mainColor);
  background-color: #333;
  font-size: 25px;
  border-radius: 50%;
  width: 50px;
  padding: 10px;
  transition: all 0.5s;
  margin: 5px 0;
  border: 3px solid var(--mainColor);
}
.option-box i.mode.bg {
  background-color: #f3f3f3;
}
/* tool bar */
/*  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: main-font;
  font-weight: 800;
}
.dark {
  background-color: #000000;
  color: #fff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* nav here */
header {
  z-index: 10;
  width: 100%;
  background-color: #000000;
  position: fixed;
}
header .container {
  display: flex;
}
.links {
  width: 100%;
  display: flex;
  text-align: center;
}
header ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: 0.3s;
}
header a.active {
  color: var(--mainColor);
}
a:hover {
  color: var(--mainColor);
  transition: 0.5s;
}
form {
  margin: auto;
  display: flex;
}
.other {
  background-color: var(--mainColor);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .other {
  background-color: var(--mainColor);
}
/* end nav */
/* main  */
#home {
  width: 100%;
  background-image: url(../img/main_img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(100vh);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
#home::before {
  content: "";
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100vh;
}
.main_txt {
  text-align: center;
  padding: 50px;
  background-color: white;
  border-radius: 25px;
  opacity: 50%;
  width: 50%;
  max-width: 100%;
  position: relative;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--mainColor));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #333);
}
h1,
h2 {
  font-size: 50px;
  padding: 0 50px;
  color: var(--mainColor);
}
h2 {
  font-family: fir-font;
  letter-spacing: 1px;
}
p {
  font-size: 30px;
  padding: 0 70px;
  color: #000000;
}
.New_btn {
  width: fit-content;
  padding: 10px 20px;
  border: 3px solid var(--mainColor);
  color: var(--mainColor);
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.New_btn:hover {
  color: #fff;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.New_btn::after,
.New_btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  background-color: var(--mainColor);
  z-index: -1;
}
.New_btn:hover::after {
  animation: toR 0.5s linear forwards;
}
.New_btn:hover::before {
  animation: tol 0.5s linear forwards;
}
.New_btn::after {
  left: -20px;
}
.New_btn::before {
  right: -20px;
}
@keyframes toR {
  50% {
    left: 0px;
  }
  100% {
    left: 0px;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes tol {
  50% {
    right: 0px;
  }
  100% {
    right: 0px;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
/* random_img */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
.text-s {
  color: #ebeceb;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.portfolio .portfolio-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.card img {
  width: 100%;
  transition: transform 0.1s linear;
  padding: 3px;
  background-color: #ebeceb;
}
.card img:hover {
  border: 5px solid var(--mainColor);
  transform: scale(1.1);
}
/* random_img */
/* flag */
.flag {
  background-color: var(--mainColor);
  font-family: head-font;
  font-weight: 200;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 50px;
}
.flag .container {
  display: flex;
  width: 100vw;
}
.flag h1 {
  color: white;
  letter-spacing: 4px;
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
  margin: 10px;
}
.panel h3 {
  color: var(--mainColor);
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 768px) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
/* flag */
/* egypt */
.egypt {
  margin-bottom: 50px;
  position: relative;
  transition: 0.5s;
}
.egypt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: 0.5s;
}
.egypt::after {
  content: "This Is Egypt";
  background-color: var(--mainColor);
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
  font-family: head-font;
  letter-spacing: 5px;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: 0.5s;
}
.egypt:hover::after,
.egypt:hover::before {
  opacity: 0;
}

.egypt .egypt_P {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.egypt_P img {
  width: calc(100% / 7);
}
/* egypt */
/* contact and footer */
.contact {
  background-color: #eee;
  font-family: fir-font;
  color: #000000;
}
.inf {
  padding: 20px;
  text-align: center;
}
.label {
  font-size: 35px;
  font-weight: 800;
  color: #336666;
  margin-bottom: 15px;
}
.inf .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--mainColor);
  text-decoration: none;
}
.inf .social {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.social i {
  margin-left: 10px;
  color: var(--mainColor);
  transition: 0.5s;
}
.social i:hover {
  transform: scale(1.1);
  color: #333;
}
@media (max-width: 767px) {
  .label,
  link {
    font-size: 25px;
  }
}
/* random img */
.random_img .random_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.random_img #randomHeader {
  margin: 20px 0;
  font-size: 50px;
  font-family: head-font;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  /*  */
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    var(--mainColor) 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: block;
}
@media (max-width: 768px) {
  .random_img #randomHeader {
    font-size: 20px;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.random_img img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

/* random img */
footer {
  background-color: var(--mainColor);
  color: white;
  padding: 15px;
  text-align: center;
}
footer span {
  font-weight: bold;
  color: #000000;
}
/* contact and footer */
/* test */

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal img {
  max-width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 50;
}
/* test */

/* madia queary */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (width: 1024px) {
  .main {
    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .dropdown-content {
    right: -2px;
  }
  header a {
    font-size: 15px;
  }
  .modal {
    width: 100%;
    padding: 1rem;
  }
  .main {
    padding: 25px;
    width: 100%;
  }
  p {
    font-size: 20px;
  }
  h1,
  h2 {
    font-size: 30px;
  }
  .links {
    align-items: center;
    width: 100%;
  }
  a,
  .inf .social {
    font-size: 15px;
  }
  form {
    display: none;
  }
}
